
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Environment variables and secrets
.env

# OS and Editor specific
.DS_Store
Thumbs.db
.vscode/
.idea/

# Virtual environments
venv/
ENV/
env/
